<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='./stylesheets/style.css'/>-->
    <!--这里的路径不能加../public，因为指定了静态目录，所以直接像下面这样写就可以了-->
    <link rel="stylesheet" type="text/css" href="./uikit/css/uikit.css"/>
    <link rel="stylesheet" type="text/css" href="./uikit/css/components/notify.css"/>
    <script src="./javascripts/jquery.js"></script>
    <script src="./uikit/js/uikit.js"></script>
    <script src="./uikit/js/components/notify.js"></script>

</head>
<body>