<%- include('header') %>
<script src="./javascripts/md5.min.js"></script>
</head>
<body>
<div class="uk-align-center">
    <form id="mainForm">
        <div class="uk-flex uk-flex-center">
            <div class="uk-inline">
                <span class="uk-form-icon" uk-icon="icon: user"></span>
                <input class="uk-input login-name" type="text">
            </div>
        </div>

        <div class="uk-flex uk-flex-center">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                <input class="uk-input login-password" type="password">
            </div>
        </div>
        <div class="uk-flex uk-flex-center">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail"></span>
                <input class="uk-input login-mail" type="text">
            </div>
        </div>
        <div class="uk-flex uk-flex-center">
            <div class="uk-inline">
                <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: info"></span>
                <input class="uk-input login-info" type="text">
            </div>
        </div>
    </form>
    <div class="uk-flex uk-flex-center">
        <button class="uk-button uk-button-default login-register">注册</button>

        <% if (username !== '' && username !== void 0) { %>
            <button class="uk-button uk-button-default login-logout">注销</button>
        <% } else { %>
            <button class="uk-button uk-button-default login-submit">登录</button>
        <% } %>

    </div>

</div>

<script>
    function isNullOrEmpty(value){
      return value === null || value === void 0 || value === '' || value.length === 0;
    }
  /*
   *登录按钮
   */
  $('.login-submit').click(() => {
    const loginName = $('.login-name').val();
    const loginPassword = $('.login-password').val();
    if(isNullOrEmpty(loginName) || isNullOrEmpty((loginPassword))){
      UIkit.notification(`用户名和密码不能为空`);
      return;
    }
    //前端进行md5加密之后再传给后端
    let md5LoginPassword = md5(loginPassword);
    $.ajax({
      type: "POST",
      url: '/api/loginnew',
      data: {username: loginName, password: md5LoginPassword},
      success: function (res, status, xhr) {
        console.log(res)
        if(res.login === false){
          UIkit.notification(`登录失败，失败原因：${res.errInfo.message}`,{timeout: 5000});
        }
        if (res.login === true) {
          console.log(res)
          UIkit.notification(`登录成功`);
          // setTimeout(() =>{
          //   window.location.href="/";    //    请求成功后到你的主页
          // },1000)
        }
      },
      error: function (res, status, xhr) {
        console.log(`登录失败，失败原因：${res.errInfo.message}`);
        UIkit.notification(`登录失败，失败原因：${res.errInfo.message}`);
      }
    });
  });
  //注册
  $('.login-register').click(() => {
    const regName = $('.login-name').val();
    const regPassword = md5($('.login-password').val());
    const regMail = $('.login-mail').val();
    const regInfo = $('.login-info').val();

    if(isNullOrEmpty(regName) || isNullOrEmpty((regPassword))){
      UIkit.notification(`用户名和密码不能为空`);
      return;
    }
    $.ajax({
      type: "POST",
      url: '/api/register',
      data: {
        regName: regName,
        regPassword: regPassword,
        regMail: regMail,
        regInfo: regInfo
      },
      success: function (res, status, xhr) {
        console.log(res);
        if (res.register === true) {
          UIkit.notification(`注册成功`);
        }
      },
      error: function (error) {
        console.log(`注册失败，失败原因：${error.err}`);
      }
      //dataType: dataType
    });

  });

  $('.login-logout').click(() => {
    axios.get('/api/logout')
        .then(function (response) {
          if(response.data.logout === true){
            UIkit.notification(`注销成功`);
            setTimeout(() =>{
              window.location.href="/";    //    请求成功后到你的主页
            },1000)
          }else {
            UIkit.notification(`注销失败，失败原因：${response.data.errMesssage}`);
          }
        })
        .catch(function (error) {
          UIkit.notification(`注销失败，失败原因：${error}`);
        })
        .then(function () {
        });
  })


</script>
<%- include('footer') %>