<!DOCTYPE html>
<html>
<head>
    <title>nihao</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<p>用户列表:</p>
<ul>
    <% users.forEach(i => { %>
        <li><%= `${i.name} ${i.age}` %></li>
    <% }) %>
</ul>
</body>
</html>
