<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='./stylesheets/style.css'/>-->
    <!--这里的路径不能加../public，因为指定了静态目录，所以直接像下面这样写就可以了-->
    <link rel='stylesheet' href='./stylesheets/element-theme-chalk.css'/>

    <link rel='stylesheet' href='./stylesheets/style.css'/>

    <script src="./javascripts/vue.js"></script>
    <script src="./javascripts/jquery.js"></script>
    <script src="./javascripts/element-ui.js"></script>
    <script src="./javascripts/axios.min.js"></script>


