<div class="uk-navbar-container tm-navbar-container all-nav" uk-sticky="media: 960">
    <div class="uk-container uk-container-expand">
        <nav class="uk-navbar">

            <div class="uk-navbar-left">

                <li class="uk-navbar-item uk-logo" to="/">
                    <canvas class="uk-margin-small-right" width="28" height="34" uk-svg
                            src="./images/uikit-logo.svg"></canvas>
                    UIkit
                </li>

            </div>

            <div class="uk-navbar-right">

                <!--<ul class="uk-navbar-nav uk-visible@m">-->
                    <!--<li><a href="./docs/introduction">Documentation</a></li>-->
                <!--</ul>-->

                <!--<div class="uk-navbar-item uk-visible@m">-->
                    <!--<li class="uk-button uk-button-default tm-button-default uk-icon" to="/download"-->
                        <!--activeClass="page-active">Download-->
                        <!--<canvas uk-icon="icon: download" width="20" height="20"></canvas>-->
                    <!--</li>-->
                <!--</div>-->
                <div id="index-search"></div>

                <div id="signupandsignin">
                    <button class="uk-button uk-button-link index-login">登录</button>
                    <span id="index-or">or</span>
                    <button class="uk-button uk-button-link index-login">注册</button>
                </div>

                <!--<a class="uk-navbar-toggle uk-hidden@m" uk-navbar-toggle-icon href="#offcanvas" uk-toggle>qweqe</a>-->

            </div>

        </nav>
    </div>
</div>
